In [18]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
import pandas as pd

In [19]:
result = ["Hello Deepak Dodeja", "hello new Deepak", "hello new year Deepak"]

In [20]:
model = CountVectorizer()
r = model.fit(result)

In [21]:
r.vocabulary_

{'deepak': 0, 'dodeja': 1, 'hello': 2, 'new': 3, 'year': 4}

In [22]:
model.vocabulary_

{'deepak': 0, 'dodeja': 1, 'hello': 2, 'new': 3, 'year': 4}

In [23]:
k = model.transform(result)
k.toarray()         #k.A also works the same

array([[1, 1, 1, 0, 0],
       [1, 0, 1, 1, 0],
       [1, 0, 1, 1, 1]], dtype=int64)

In [24]:
model.vocabulary_

{'deepak': 0, 'dodeja': 1, 'hello': 2, 'new': 3, 'year': 4}

In [25]:
result

['Hello Deepak Dodeja', 'hello new Deepak', 'hello new year Deepak']

In [26]:
pd.DataFrame(k.A, columns = model.get_feature_names())

   deepak  dodeja  hello  new  year
0       1       1      1    0     0
1       1       0      1    1     0
2       1       0      1    1     1

In [27]:
model = TfidfVectorizer()
r = model.fit(result)

In [28]:
r.vocabulary_

{'deepak': 0, 'dodeja': 1, 'hello': 2, 'new': 3, 'year': 4}

In [29]:
model.vocabulary_

{'deepak': 0, 'dodeja': 1, 'hello': 2, 'new': 3, 'year': 4}

In [30]:
k = model.transform(result)
k.toarray()         #k.A also works the same

array([[0.45329466, 0.76749457, 0.45329466, 0.        , 0.        ],
       [0.52284231, 0.        , 0.52284231, 0.67325467, 0.        ],
       [0.39148397, 0.        , 0.39148397, 0.50410689, 0.66283998]])

In [31]:
model.vocabulary_

{'deepak': 0, 'dodeja': 1, 'hello': 2, 'new': 3, 'year': 4}

In [32]:
result

['Hello Deepak Dodeja', 'hello new Deepak', 'hello new year Deepak']

In [33]:
pd.DataFrame(k.A, columns = model.get_feature_names())

     deepak    dodeja     hello       new     year
0  0.453295  0.767495  0.453295  0.000000  0.00000
1  0.522842  0.000000  0.522842  0.673255  0.00000
2  0.391484  0.000000  0.391484  0.504107  0.66284

Look, how Tfidf assigns high values to a unique word and low values to common words.